<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SQLite.Core.WindowsPhone" version="3.8.11.158" targetFramework="wpa81" />
  <package id="sqlite-net" version="1.0.8" targetFramework="wpa81" />
  <package id="sqlite-net-pcl" version="1.1.1" targetFramework="wpa81" />
  <package id="SQLitePCL.raw" version="0.8.6" targetFramework="wpa81" />
  <package id="System.Data.SQLite" version="1.0.99.0" targetFramework="wpa81" />
</packages>